BlockFront*.jar filter=lfs diff=lfs merge=lfs -text
BlockFront-1.16.5-0.0.3.5a-RELEASE.jar filter=lfs diff=lfs merge=lfs -text
mods/BlockFront-1.16.5-0.0.3.5a-RELEASE.jar filter=lfs diff=lfs merge=lfs -text
